name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Setup Node Modules
        uses: bahmutov/npm-install@v1
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npm test
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 30
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: serenity-report
          path: target/site/serenity
          retention-days: 30

      - name: Move Playwright reports
        run: mv playwright-report target/site/playwright

      - name: GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.4.3
        with:
          BRANCH: gh-pages
          FOLDER: target/site
          CLEAN: true
